body {
    font-family:'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
}

/*logo*/
.wort-logo {
    text-decoration: none;
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
/* 
.top-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
} */

.link-logo {
    text-decoration: none;
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    gap: 40px;
}

.top-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 17px 0;
}

@media screen and (min-width: 768px) {
    .top-logo {
        margin-right: 120px;
    }
}

@media screen and (min-width: 1158px) {
    .top-logo {
        margin-right: 76px;
    }
}


/*Шапка сайта.Навігація*/
ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: #2E2F42;
}

.link-nav {
    text-decoration: none;
    color: #2E2F42;
}

.link-nav {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover,
.link-nav:focus {
    color: #404bbf;
}

.link-nav:active {
    color: #404bbf;
}


@media screen and (min-width: 768px) {
    .link-nav.underlining {
        position: relative;
        color: #404bbf;
    }
}

.underlining {
    display: none;
}

.underlining::after {
    display: none;
}

@media screen and (min-width: 768px) {
    .underlining::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }
}



.link-nav.underlining::after {
    content: "";
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    display: block;
}

.link-nav.underlining {
    color: #404BBF;
    position: relative;
}

.link-nav:hover,
.link-nav:focus,
.link-nav.underlining:hover,
.link-nav.underlining:focus {
    color: #404BBF;
}


/* .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
} */

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    /* display: flex;
    padding-top: 17px;
    padding-bottom: 17px;
    max-width: 320px;
    margin: 0 auto; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .header-nav {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .header-nav {
        position: relative;
    }
}

/* .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
} */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* .header-navigetion {
    display: flex;
    align-items: center;
    margin-right: auto;
} */
.header-navigetion {
    display: flex;
    align-items: center;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .header-navigetion {
        margin-right: 121px;
    }
}
.header-list {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-list {
        display: flex;
        gap: 40px;
        padding: 0;
    }
}

.header-item {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-item {
        display: flex;
    }
}


/* .header-item {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .underlining.link-nav {
    position: relative;
    color: #404bbf;
} */

/* .underlining::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
} */


/* .header-addres {
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;
    margin: 0 auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
}

.header-addres a:hover,
.header-addres a:focus {
    color: #404bbf;
} */




.header-address {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-address {
        /* display: flex; */
        display: block;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .address-link {
        color: #434455;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .address-link {
        /* padding: 24px 0; */
        font-size: 16px;
        line-height: 1.5;
        /* letter-spacing: 0.02em; */
    }
}

/* .address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}






.heder-item:hover,
.heder-item:focus {
    color: #404BBF;
}

/* .header-address-list {
    display: flex;
    font-style: normal;
    color: #2E2F42;
    gap: 40px;
} */

@media screen and (min-width: 768px) {
    .header-address-list li:first-child {
        /* margin-bottom: 12px; */
    }
    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

@media screen and (min-width: 1158px) {
    .header-address-list {
        /* position: absolute;
        top: 24px;
        right: 15px;
        display: flex; */
        flex-direction: row;
        gap: 40px;
    }
}


/* .header-address-list .header-addres + .header-addres {
    margin-left: 40px;
} */


.link :hover, 
.link :focus {
    color: #404BBF;
}

.btn-menu {
    /* margin-left: auto; */
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    line-height: 0;
}

@media screen and (min-width: 768px) {
    .btn-menu {
        display: none;
    }

    .btn-burger {
        display: none;
    }
}


section {
padding-top: 120px;
padding-bottom: 120px;
}

.container {
    margin: 0 auto;
    width: 320px;
    padding: 0 15px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* menu burger */

/* .link-address-burger {
    text-decoration: none;
    color: #2E2F42;
    font-style: normal;
} */

/* .menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 24px 24px 40px 16px;
}
.btn-close {
    background-color: transparent;
    border: none;
    color: #ffffff;
    margin-left: auto;
    margin-bottom: 24px;
    display: block;
}

/* .menu-mobile.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
} */

.menu-burger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-menu-burger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 168px;
    margin-top: 72px;
}

.link-nav-burger {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 16px;
}

.link-nav-burger:hover,
.link-nav-burger:focus {
    color: #404bbf;
}

.list-social-icons {
    display: flex;
    gap: 40px;
    /* margin-bottom: 48px; */
    /* justify-content: center; */
}
.menu-soc-burger {
    gap: 40px;
}

.list-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 24px;
    margin-bottom: 0;
    padding-right: 0; */
}

.list-contacts-burger {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.link-address-burger {
    color: #434455;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0.32px;
    line-height: 1.5;
    gap: 24px;
    padding-left: 16px;
    /* padding: 24px 0; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address-burger:hover,
.link-address-burger:focus {
    color: #404bbf;
}

/* .close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

 .item-social-icons {
     /* width: calc((100% - 104px) / 4); */
    /* width: calc((100% - 120px) / 3); */


     width: 40px;
     height: 40px;
 }


 .social-icon {
     fill: #f4f4fd;

 }

 .social-link {
     display: flex;
     background-color: #4d5ae5;
     border-radius: 50%;
     flex-shrink: 0;
     margin-bottom: 0;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .item-social-icons a:hover {
     background-color: #404bbf;
 }

 .item-social-icons a:focus {
     background-color: #404bbf;
 }

/*Hero*/
.overlay {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office1.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-color: #2e2f42;
    padding: 188px 0;
    background-size: cover;
}

/* .hero-subject {
    font-size: 56px;   
    font-weight: 700;
    background-color: transparent;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
} */

.hero-subject {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    width: 212px;
    max-height: 160px;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .hero-subject {
        width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 36px;
        text-align: center;
    }
}

@media screen and (min-width: 1158px) {
    .hero-subject {
        margin-bottom: 48px;
    }
}

/* .hero {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0 188px;
    align-items: center;
    margin: 0 auto;
} */

.hero {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-hero-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 767px;
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-hero-mob-2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 112px 0;
        max-width: 1157px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-hero-tab-1x.jpg);
    }

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-hero-tab-2x.jpg);
        }
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office1.jpg);
    }

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office-2x.jpg);
        }
    }
}

.hero-btn {
    display: block;
    color: #FFFFFF;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    gap: 10px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color:#404BBF;
}

.p {
    color:#434455;
    line-height: 1.5;
    letter-spacing: 0.02em;margin: 0;
}

/* особенности */

.feature {
    background-color: #ffffff;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .feature {
        padding: 120px 0;
    }
}

/* .feature-ithem {
    width: calc((100% - 72px) / 4);
} */

@media screen and (min-width: 768px) {
    .feature-ithem {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .feature-ithem {
        width: calc((100% - 72px) / 4);
    }
}

.icon {
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    flex-shrink:0;
    border-radius:4px;
    border: 1px solid #8e8f99;
    background-color: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px; */

    display: none;
}

@media screen and (min-width: 1158px) {
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
    }
}

.svg-feature {
    display: none;
}

@media screen and (min-width: 1158px) {
    .svg-feature {
        display: flex;
    }
}

.feature-list {
    gap: 72px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .feature-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .feature-list {
        flex-wrap: nowrap;
        gap: 24px;
        margin-bottom: 0;
    }
}



.visually-hidden {
    /* font-size: 36px;
    line-height: 1.11;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0; */
        position: absolute;
        width: 1px;
        height: 1px; 
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;  
}

.feature-subtitle {
    /* font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0; */

    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .feature-subtitle {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .feature-subtitle {
        color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
}

.feature-text {
    /* line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0; */

    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-weight: 500;
}
@media screen and (min-width: 1158px) {
    .feature-text {
        font-weight: 400;
    }
}

/* Команда */

.team {
    background-color: #F4F4FD;
    padding: 96px 12px;
 }

 @media screen and (min-width: 768px) {
     .team {
         padding: 96px 108px;
     }
 }

 @media screen and (min-width: 1158px) {
     .team {
         padding: 120px 0;
     }
 }

.team-title {
    font-size: 36px;
    color: #2e2f42;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;
    
}

.team-item {
    /* background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08); */

    background-color: #ffffff;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
} 

@media screen and (min-width: 768px) {
    .team-item {
        max-width: 264px;
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-item {
        width: calc((100% - 3 * 24px) / 4);
    }
}

.team-list {
    /* display: flex;
    gap: 24px; */

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .team-list {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
}

.cards-team {
    padding: 32px 0;

}

.team-image {
    display: block;
}

.team-name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
}


.team-soc-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 0;
    padding-right: 0;
}

.team-soc {
    width: calc((100% - 104px) / 4);

    width: 40px;
    height: 40px;
}


.icon-team {
  fill:#f4f4fd;

}

.team-soc-link {
    display:flex;
    background-color:#4d5ae5;
    border-radius: 50%;
    flex-shrink: 0;            
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.team-soc a:hover {
    background-color: #404bbf;
    /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); */
       
}
.team-soc a:focus {
    background-color: #404bbf;
    /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); */
}

.portfolio {
    /* text-transform: capitalize; */
    background-color: #ffffff;
    /* padding: 120px 0 120px 0; */
    padding: 96px 0;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
}

.portfolio-subtitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2e2f42;
    letter-spacing: 0.02em;
    flex-direction: column;
    margin: 0;
    margin-bottom: 8px;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}

/* .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
} */

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px;
    }
}

/* .portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.portfolio-item {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }
}
.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

/* .timing {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.cards-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}




.portfolio-image {
    display: block;
    margin: 0;
}

/* .portfolio-top-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
} */
.portfolio-top-text {
    display: none;
}

@media screen and (min-width: 1158px) {
    .portfolio-top-text {
        display: flex;
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms ease-in-out;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.portfolio-item:hover .text-overlay {
    transform: translatey(0);
}

/* .portfolio-top-wrap {
    position: relative;
    overflow: hidden;
} */

.portfolio-top-wrap {
    width: 288px;
    height: 280px;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .portfolio-top-wrap {
        width: 100%;
        height: 300px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-top-wrap {
        position: relative;
        overflow: hidden;
    }
}


.portfolio-item:hover .portfolio-top-text {
transform: translateY(0%);
}

/* .footer {
    background-color:#2E2F42;
    padding: 100px 0;
} */
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
        margin-left: 0;
        margin-right: 0;
    }
}

/* .footer-container {
    display: flex;
    align-items: baseline;
} */

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        margin-left: 108px;
        justify-content: start;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        align-items: baseline;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 auto;
        gap: unset;
    }
}
/* .footer-bottom {
    margin-right: 120px;
} */

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .footer-bottom {
        align-items: start;
    }
}

@media screen and (min-width: 1158px) {
    .footer-bottom {
        margin-right: 120px;
    }
}

.footer-text {
    width: 264px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
}
.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo {
    color: #F4F4FD;
}

.footer-text-soc{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-top: 0;
}
    
.footer-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% - 40px) / 4);
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-bottom: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-soc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .footer-link-soc {
        align-items: start;
    }
}

.footer-soc-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 0;
    padding-right: 0;
}

.icon-footer {
    fill: #f4f4fd;
}

.footer-soc a:hover {
   background-color: #31D0AA;
}
.footer-soc a:focus {
    background-color: #31D0AA;
}

/* .form-footer {
    margin-left: auto;
} */

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .form-footer {
        align-items: start;
    }
}

@media screen and (min-width: 1158px) {
    .form-footer {
        margin-left: 80px;
    }
}

.footer-title-form {
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-top: 0
}

/* .form-label {
    display: flex;
    gap: 24px;
} */

.form-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .form-label {
        flex-direction: row;
    }
}

.footer-form-input {
    background-color: transparent;
    color: #ffffff;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
    color: #ffffff;
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: #4d5ae5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    min-width: 165px;
    height: 40px;
}

.footer-btn-icon {
    fill: #ffffff;
    margin-left: 16px;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #404bbf;
}

/* modal */

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        max-width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }
}

.btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
    fill: #ffffff;
    border: none;
    background-color: #404bbf;
}
/* .img-close */
.close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
    fill: #ffffff;
}
.modal-title {
    color: #2e2f42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-top: 0;
}

.modal-form-input {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    /* margin-top: 8px; */
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
/* .label-name {
    margin-top: 16px;
} */

.modal-input {
    display: flex;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}
.modal-input-icon {
    position: relative;
}

.modal-img {
    position: absolute;
    fill: #2e2f42;
    /* color: #2E2F42; */
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-img {
    fill: #4d5ae5;
}
/* .modal-img:hover,:focus {
    fill: #4d5ae5;
} */

.modal-textarea {
    /* margin-top: 8px; */
    margin-bottom: 16px;

}

.modal-textarea-comment {
    display: block;
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-comment:focus {
    border-color: #4d5ae5;
}


.modal-link {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 16px;
    letter-spacing: 0.48px; */

    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    text-decoration-line: underline;
}

.checkbox-label {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.checkbox-modal {
    margin-bottom: 24px;
    position: relative;
}

.checkbox-privacy {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked+.checkbox-label .checkbox-privacy {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.checkbox-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 24px;
}

.checkbox-btn:hover,
.checkbox-btn:focus {
    background-color: #404bbf;
}